@model PagedList<Appraises>
@{
    ViewBag.Title = "我的评价";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<div id="ajax">
    @Html.Partial("_Index", Model)
</div>
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}
