@model PagedList<Categories>
@{
    ViewBag.Title = "商品类型列表";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string auth = MyAuthentication.GetAuth();
}

<div style="display:flex;justify-content:space-between;align-content:center;margin:20px">
    <h2>@ViewBag.Title</h2>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" onclick="location.href='/Categories/Update'" class="btn btn-success">添加</button>
    </div>
</div>
<div id="ajax">
    @Html.Partial("_Index", Model)
</div>
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}