@model PagedList<Users>
@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string auth = MyAuthentication.GetAuth();
}
@if (auth != "1")
{
    return;
}

@using (Ajax.BeginForm("Delete", "Users", new AjaxOptions
{
    UpdateTargetId = "ajax",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    Confirm = "是否确认删除",
    OnFailure = $"showMessage('操作失败')",
    OnSuccess = "showMessage('删除成功')"
}))
{
    <div id="ajax">
        @Html.Partial("_Index", Model)
    </div>
}
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}
<script>
    function selectAll(o) {
        $(".ck").prop("checked", o.checked)
    }
    function show(e, p) {
        if (e.innerHTML == p) {
            e.innerHTML = "********"
        }
        else {
            e.innerHTML = p
        }
    }

</script>