@model Orders
@{
    ViewBag.Title = "收银台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="item container" style="background-color: white;width: 100%">
    <div style="display:flex;justify-content:center;align-items:center">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"" fill="currentColor" style="color:darkseagreen;margin: 10px" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
        </svg>
        <div>
            <p style="font-size: 25px;margin-top:20px;margin-bottom:0px">
                订单提交成功,应支付金额<strong style="color:orange;font-size:25px">&yen;@Model.Total.Value.ToString("0.00")</strong>
            </p>
            <p>
                订单号: @Model.SerialID 请在1日内完成支付,否则订单会被取消
            </p>
        </div>
    </div>
    <h2 style="margin-top:30px">支付方式</h2>
    <form action="/Orders/Cashier" method="post">
        <input type="hidden" name="OrdersID" value="@Model.OrdersID"/>
        <div class="col-6">
            <ul class="list-group" style="margin-top: 10px;margin-bottom: 50px">
                <li class="list-group-item" style="display:flex;align-items:center">
                    <input class="form-check-input" type="radio" checked name="PayType" value="0">
                    <img src="/Content/Images/58_168_白底.png" style="width:100px;height:100%;"/>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="radio" name="PayType" value="1">
                    微信
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-success">立即支付</button>
    </form>
</div>

