@model PagedList<Orders>
@{
    ViewBag.Title = "我的订单";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
    string auth = MyAuthentication.GetAuth();
}

<div style="display:flex;justify-content:space-between;align-content:center;margin:20px">
    @using (Ajax.BeginForm("MyOrder", "Orders", new AjaxOptions
    {
        UpdateTargetId = "ajax",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
    }, new { id="filter"}))
    {
        <select class="form-select" aria-label="Default select example" onchange="$(this).submit()" id="filter" name="states">
            <option>全部</option>
            <option value="0">未付款</option>
            <option value="1">已付款</option>
            <option value="2">已发货</option>
            <option value="3">已收货</option>
            <option value="-1">已关闭</option>
        </select>
    }
</div>

<div id="ajax">
    @Html.Partial("_MyOrder",Model)
</div>
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}


