
@{
    ViewBag.Title = "收货地址管理";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}


<div style="display:flex;justify-content:space-between;align-content:center;margin:20px">
    <h2>添加收货地址</h2>
</div>
<div class="card">
    <div class="card-body">
        <form class="row g-3" id="deliveries" method="post">
            <div class="col-md-6">
                <label class="form-label">收货人<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="Consignee">
            </div>
            <div class="col-md-6">
                <label class="form-label">详细地址<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="Complete">
            </div>
            <div class="col-md-6">
                <label class="form-label">手机号<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="Phone">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">提交</button>
            </div>
        </form>
    </div>
</div>
<div style="display:flex;justify-content:space-between;align-content:center;margin:20px">
    <h2>收货地址</h2>
</div>
@foreach (var item in ViewBag.Deliveries)
{
    <div class="card" style="justify-content: flex-start;height: 100%;">
        <div class="card-header">
            【@if (item.DeliveryID == ViewBag.user.DeliveryID)
            {
                @Html.Raw("默认地址")
            }
            else
            {
                <a href="/Deliveries/SetDefault/@item.DeliveryID">设为默认</a>
                <a href="/Deliveries/Remove/@item.DeliveryID" class="link-danger">删除</a>
            }】@item.Consignee (@item.Phone)
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@item.Complete</p>
            </blockquote>
        </div>
    </div>
}



<script>
    window.onload = () => {
        $("#deliveries").validate({
            rules: {
                Consignee: { required: true },
                Complete: { required: true },
                Phone: { required: true },
            },
            messages: {
                Consignee: { required: "请输入收货人" },
                Complete: { required: "请输入详细地址" },
                Phone: { required: "请输入手机号" },
            }
        })
    }
</script>

